<h1>My Bracket</h1>
<table class="b">
  <tr>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('R1').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('R1').team_a %>
        <hr>
        <%= @brackets.game_by_group('R1').team_b %>
      </div>
    </td>
    <td></td><td></td><td></td><td></td><td></td>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('R3').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('R3').team_a %>
        <hr>
        <%= @brackets.game_by_group('R3').team_b %>
      </div>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('Q1').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('Q1').team_a %>
        <hr>
        <%= @brackets.game_by_group('Q1').team_b %>
      </div>
    </td>
    <td></td><td></td><td></td>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('Q3').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('Q3').team_a %>
        <hr>
        <%= @brackets.game_by_group('Q3').team_b %>
      </div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('Q2').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('R2').team_a %>
        <hr>
        <%= @brackets.game_by_group('R2').team_b %>
      </div>
    </td>
    <td></td><td></td><td></td><td></td><td></td>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('R4').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('R4').team_a %>
        <hr>
        <%= @brackets.game_by_group('R4').team_b %>
      </div>
    </td>
  </tr>

  <tr>
    <td></td><td></td>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('S1').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('S1').team_a %>
        <hr>
        <%= @brackets.game_by_group('S1').team_b %>
      </div>
    </td>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('F1').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('F1').team_a %>
        <hr>
        <%= @brackets.game_by_group('F1').team_b %>
      </div>
    </td>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('S2').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('S2').team_a %>
        <hr>
        <%= @brackets.game_by_group('S2').team_b %>
      </div>
    </td>
    <td></td><td></td>
  </tr>

  <tr>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('R5').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('R5').team_a %>
        <hr>
        <%= @brackets.game_by_group('R5').team_b %>
      </div>
    </td>
    <td></td><td></td><td></td><td></td><td></td>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('R7').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('R7').team_a %>
        <hr>
        <%= @brackets.game_by_group('R7').team_b %>
      </div>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('Q2').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('Q2').team_a %>
        <hr>
        <%= @brackets.game_by_group('Q2').team_b %>
      </div>
    </td>
    <td></td>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('F2').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('F2').team_a %>
        <hr>
        <%= @brackets.game_by_group('F2').team_b %>
      </div>
    </td>
    <td></td>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('Q4').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('Q4').team_a %>
        <hr>
        <%= @brackets.game_by_group('Q4').team_b %>
      </div>
    </td>
    <td></td>
  </tr>

  <tr>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('R6').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('R6').team_a %>
        <hr>
        <%= @brackets.game_by_group('R6').team_b %>
      </div>
    </td>
    <td></td><td></td><td></td><td></td><td></td>
    <td>
      <span class="badge badge-inverse my_badge"><%= @brackets.game_by_group('R8').point %></span>
      <div class='bracket_box'>
        <%= @brackets.game_by_group('R8').team_a %>
        <hr>
        <%= @brackets.game_by_group('R8').team_b %>
      </div>
    </td>
  </tr>
</table>

<% if current_user.try(:admin?) %>

  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Game</th>
        <th>Team a</th>
        <th>Team b</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @brackets.each do |bracket| %>
        <tr>
          <td><%= bracket.user_id %></td>
          <td><%= bracket.game_id %></td>
          <td><%= bracket.team_a %></td>
          <td><%= bracket.team_b %></td>
          <td><%= link_to 'Show', bracket %></td>
          <td><%= link_to 'Edit', edit_bracket_path(bracket) %></td>
          <td><%= link_to 'Destroy', bracket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr>

  <%= link_to 'New Bracket', new_bracket_path %>
<% end %>
