<br>
<ul class="games_tab nav nav-tabs">
  <li><a href="#group_stage" data-toggle="tab">Group Stage</a></li>
  <li><a href="#round_of_16" data-toggle="tab">Round of 16</a></li>
  <li><a href="#quarter_final" data-toggle="tab">Quarter Final</a></li>
  <li><a href="#semi_final" data-toggle="tab">Semi Final</a></li>
  <li><a href="#final" data-toggle="tab">Final</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade" id="group_stage">
    <%= render 'group_stage' %>
  </div>
  <div class="tab-pane fade" id="round_of_16">
    <%= render 'round_of_16' %>
  </div>
  <div class="tab-pane fade" id="quarter_final">
    <%= render 'quarter_final' %>
  </div>
  <div class="tab-pane fade" id="semi_final">
    <%= render 'semi_final' %>
  </div>
  <div class="tab-pane fade" id="final">
    <%= render 'final' %>
  </div>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to 'New Game', new_game_path %>
<% end %>

<br>

<%= javascript_tag do %>
  select_tab = $('.future_game').first().parent().parent().closest('.tab-pane').attr('id');
  $('.games_tab a[href="#'+select_tab+'"]').tab('show');
  select_tab = $('.future_game').first().parent().attr('id');
  $('.games_group_tab a[href="#'+select_tab+'"]').tab('show');
<% end %>
