<h2>Score Board</h2>
<hr>
<h3>Total # of Goals</h3>
<div class="score_board_item">
  <%= Game.total_number_of_goals %>
</div>
<hr>
<h3>Bracket Standing</h3>
<div class="score_board">
  <% @total_points.sort_by {|k,v| v[:point]}.reverse.each  do |point| %>
    <div class="score_board_item <%= 'current' if current_user && current_user.email == point.first%>">
      <%= point.first.split('@').first.gsub('-',' ').titleize %>: <%= point.last[:point] %>
      | Goals: <%= point.last[:goal] %>
    </div>
  <% end %>
</div>